@charset "UTF-8";
@font-face {font-family: 'GmarketSansMedium';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');font-weight: normal;font-style: normal;}
*{
	font-family: 'GmarketSansMedium', serif;
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
}
#container {
	display:flex;
	flex-direction:column;
	width: 100%;
	height: 100%;
}

header {
	width: 100%; 
	height:120px;
	margin: 0 auto;
}

header #topMenu {
	display:flex;
	flex-flow: row nowrap;
	align-items : center;
	width : 1300px; 
	height: 100px;
	margin: 0px auto;
	padding-top:20px;
	justify-content : space-evenly;
}
.hidden {
	position:absolute; 
	left:-9999px;
}

header fieldset { 
	border: 0;
}

header #topMenu #logo:hover, .pImg:hover, button:hover {
	cursor: pointer;
}

header h1 {
	felx: 1 1 auto;
}
header h1 img{
	width: 250px;
}
header #centerMenu {
	flex: 5 1 auto;
}

header #centerMenu input {
	display: flex;
	flex-flow : row nowrap;
	justify-content : center;
}

header #centerMenu #search {
	width:90%;
	min-width:150px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #4FA2C7;
	box-sizing: border-box;
	border-radius: 10px;
	margin:0 auto;
	padding-left: 25px;
	padding-top: 3px;
}

header #rightMenu {
	flex: 1 1 auto;
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-evenly;
	
}

header #rightMenu3, #rightMenu2 {
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-evenly;
	white-space: nowrap;
}


header .containerPImg {
	width:50px;
	height:50px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}

header .pImg {
	object-fit: cover;	
	height: 100%;
	width: 100%;
}

header #review,#signin,#logout,#login,#myPage{
	width:90px;
	height:45px;
	border: none;
	border-radius: 10px;
	background: #4FA2C7;
	color: white;
	text-align:center;
	margin-right:5px;
}

header #myPage{
	margin-left:20px;
}
section{
	flex-grow: 1;
}
/*최상단으로 가는 버튼*/
section > a > #arrow_upward{
	position: fixed;
	bottom: 10%;
	right: 5%;
	font-size: 3em;
	font-weight: bold;
	color: gray;
}
section > a > #arrow_downward{
	position: fixed;
	bottom: 5%;
	right: 5%;
	font-size: 3em;
	font-weight: bold;
	color: gray;
}
footer {
	width:100%;
	padding: 0;
	background-color: #4FA2C7;
}
footer #footer_container_icon{
	width: 150px;
	margin: 10px auto;	
}
footer #footer_container_icon ul{
	padding: 0;
}
footer #footer_container_icon ul li{
	width: 45px;
	height: 45px;
	display: inline-block;
}
footer #footer_container_icon ul li img{
	border-radius: 50%;
	object-fit: cover;	
	height: 40px;
	width: 40px;
}
footer #footer_container_icon ul li img:hover{
	cursor: pointer;
}
footer #footer_menubar{
	width:230px;	
	margin: 0 auto;	
}
footer #footer_menubar ul{
	padding: 0;
}
footer #footer_menubar ul li{
	display: inline-block;
}
footer #footer_menubar ul li a{
	color: white;
	text-decoration: none;
}
footer #footer_copyright{
	margin: 20px auto;
}
footer #footer_copyright p{
	color: white;
	text-align: center;
}