@charset "UTF-8";

section {
	width: 100%;
	background-color: #F8F8F8;
	margin: 0 auto;
	border-top: 1px solid #EAEAEA;
	text-align: center;
}

section #frmContainer {
	margin: 30px auto;
	text-align: center;
}

section>h1 {
	text-align: center;
	margin-top: 40px;
	font-size: 2em;
}

section .name {
	color: gray;
	font-weight: gray;
	font-weight: bold;
	width: 120px;
	display: inline-block;
	text-align: left;
}

section .joinList {
	width: 250px;
	height: 41px;
	background: #FFFFFF;
	padding-left: 30px;
	padding-right: 20px;
	border: 1px solid #4FA2C7;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 5px auto;
}

section .genderBox {
	
}

section .genderGroup {
	display: inline-block;
	line-height: 50px;
	width: 250px;
	height: 41px;
}

section .btn {
	font-family: 'GmarketSansMedium', serif;
	border: none;
	border-radius: 10px;
	color: black;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: lightgray;
	margin: 20px auto;
}

section .btn:hover {
	cursor: pointer;
	font-weight: bold;
}

section .newPw {
	margin-top: 20px;
}

section #newPassword {
	margin-left: 26px;
}

section #chknewPassword {
	margin-left: 26px;
}